*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.layout-grid{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alinhamento-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    color: white;
}

header {
    background-color: #1b1426;
    height: 60px;
}

header .Header-top{
    display: none;
}
header .Header-bottom{
    height: 60px;
}

header #logo{
    width: 86px;

}
header nav{
    position: fixed;
    top: 60px;
    width: 80vw;
    height: calc( 100vh - 60px );
    background-image: linear-gradient(to right bottom , rgba(27,20,38,0.7), rgba(27,20,38,0.4));
    backdrop-filter: blur(45px);

    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    
}





header .Header-bottom nav > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: inter;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .Header-bottom nav a:last-of-type{
    border-bottom:none;
}


header .menu-usuarios{
    display: none;
}
header .Header-bottom nav .midias-sociais{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}



