*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.layout-grid{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alinhamento-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mostrar-menu{
    left: 0;
}
.mostrar-options{
    right: 0 !important;
}

body {
    color: white;
}

header {
    background-color: #1b1426;
    height: 60px;
    position: fixed;
    z-index: 100;
    width: 100vw;
}

header .Header-top{
    display: none;
}
header .Header-bottom{
    height: 60px;
}

header #logo{
    width: 86px;

}
header nav{
    position: fixed;
    top: 60px;
    width: 80vw;
    height: calc( 100vh - 60px );
    background-image: linear-gradient(to right bottom , rgba(27,20,38,0.7), rgba(27,20,38,0.4));
    backdrop-filter: blur(45px);
    z-index: 101;
    left: -80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    transition: left 0.5s;
    
}





header .Header-bottom nav > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: inter;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .Header-bottom nav a:last-of-type{
    border-bottom:none;
}


header .menu-usuarios{
    display: flex;
    position: fixed;
    height: 170px;
    width: 66px;
    flex-direction: column;
    justify-content: space-evenly;
    right: -66px;
    background-image: linear-gradient(to right bottom , rgba(27,20,38,0.7), rgba(27,20,38,0.4));
    backdrop-filter: blur(45px);
    align-items: center;
    z-index: 101;
    top: 60px;
    transition: right 0.5s;
}
header .Header-bottom nav .midias-sociais{
    padding-top: 65px;
    padding-bottom: 42px;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
main .banner-inicio{
    background-image: url(../assets/valorant-pergunte-3-scaled\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 60px;
    height: 605px;
    width: 100%;
    position: absolute;
}




